
/BubberDinner.Domain/bin
/BubberDinner.Domain/obj
/Blob Storage/AzureBlobStorage/.vs
/Blob Storage/AzureBlobStorage/AzureBlobStorage.WebApi/bin
/Blob Storage/AzureBlobStorage/AzureBlobStorage.WebApi/obj
/WebApiHandsOn/.vs
/WebApiHandsOn/WebApiHandsOn/bin
/WebApiHandsOn/WebApiHandsOn/obj
/DesignPatterns/.vs
/DesignPatterns/DesignPatterns/bin
/DesignPatterns/DesignPatterns/obj
/Microservices/MicroServices/.vs
/Microservices/MicroServices/Mango.Services.CouponAPI/bin
/Microservices/MicroServices/Mango.Services.CouponAPI/obj
/Microservices/MicroServices/Mango.Web/obj
/Microservices/MicroServices/Mango.Web/bin
/Microservices/MicroServices/Mango.Services.AuthAPI/bin
/Microservices/MicroServices/Mango.Services.AuthAPI/obj
/Microservices/MicroServices/Mango.Services.ProductAPI/obj
/Microservices/MicroServices/Mango.Services.ProductAPI/bin
/Microservices/MicroServices/Mango.Services.ShoppingCartAPI/obj
/Microservices/MicroServices/Mango.Services.ShoppingCartAPI/bin
/Microservices/MicroServices/Mango.MessageBus/obj
/Microservices/MicroServices/Mango.MessageBus/bin
